
#top-image {
    background-image: url("/images/jhlar_background.jpg") ;
    position:fixed ;
    top:0;
    width:100vw;
    z-index:-3;
    height:100vh;
    background-size: calc(100% + 50px);
    
}


.firstContainer{
    
    background-size: cover;
    width: 100vw;
    height:100vh ;
    .star{
        span{
            position: absolute;
            display: inline-block;
            content: " ";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            animation-delay: 2s;
            transition: 2s;
            opacity: 0;
            box-shadow: 815px 25px rgb(255, 255, 255),
                        815px 26px 4px white, 
                        1px 1px 5px white,
                        95px -385px rgb(255, 255, 255),
                        95px -38px 4px white;
            // box-shadow: 1px 1px 2px rgb(85, 84, 99), 0 0 25px rgb(67, 67, 105), 0 0 5px darkblue;
            
            background-color: white;
            &:nth-child(1){
                top: 20%;
                left: 30%;
                opacity: 1;
                box-shadow:  none;
                animation: movingStar 14s infinite ease-in-out;
            }
            &:nth-child(2){
                top: 33%;
                left: 43%;
                width: 3px;
                height: 3px;
                animation: star 8s infinite ease-in-out;
                animation-delay: 3s;
            }
            &:nth-child(3){
                top: 90%;
                left: 30%;
                animation: star 5s infinite ease-in-out;
            }
            &:nth-child(4){
                top: 20%;
                left: 70%;
                animation: star 3.5s infinite ease-in-out;
                animation-delay: 1s;
            }
            &:nth-child(5){
                top: 70%;
                left: 90%;
                animation: star 3.5s infinite ease-in-out;
            }
            &:nth-child(6){
                top: 10%;
                left: 50%;
                animation: star 5s infinite ease-in-out;
            }
            &:nth-child(7){
                top: 60%;
                left: 57%;
                animation: star 2.5s infinite ease-in-out;
            }
            &:nth-child(8){
                top: 90%;
                left: 5%;
                animation: star 4.5s infinite ease-in-out;
            }
            &:nth-child(9){
                top: 90%;
                left: 59%;
                animation: star 2.7s infinite ease-in-out;
            }
            &:nth-child(10){
                top: 80%;
                left: 15%;
                animation: star 3.5s infinite ease-in-out;
            }
            &:nth-child(11){
                top: 7%;
                left: 9%;
                animation: star 3.5s infinite ease-in-out;
                animation-delay: 6s;
            }
            &:nth-child(12){
                top: 70%;
                left:70%;
                animation: star 3.5s infinite ease-in-out;
                animation-delay: 6s;
            }
            &:nth-child(12){
                width: 6px;
                height: 8px;
                opacity: 1;
                box-shadow: none;
                animation: movingStar2 9s infinite ease-in;
                animation-delay: 1s;
            }
        }

    }

    .fixedstar{
        span{
            position: absolute;
            display: inline-block;
            content: " ";
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0px 400px white,
            1px 1px 3px white,
            0px 400px 3px white,
            30px 40px  white,
            300px 400px  green
            ;

            &:nth-child(1){
                top: 15%;
                left: 15%;
            }
            &:nth-child(2){
                top: 23%;
                left: 25%;
            }
            &:nth-child(3){
                top: 11%;
                left: 35%;
            }
            &:nth-child(4){
                top: 45%;
                left: 7%;
            }
            &:nth-child(5){
                top: 37%;
                left: 29%;
            }
            &:nth-child(6){
                top: 25%;
                left: 48%;
            }
            &:nth-child(7){
                top: 2%;
                left: 52%;
            }
            &:nth-child(8){
                top: 39%;
                left: 58%;
            }
            &:nth-child(9){
                top: 25%;
                left: 66%;
            }
            &:nth-child(10){
                top: 37%;
                left: 74%;
            }
            &:nth-child(11){
                top: 6%;
                left: 80%;
            }
            &:nth-child(12){
                top: 19%;
                left: 87%;
            }
            &:nth-child(13){
                top: 46%;
                left: 95%;
            }
        }
    }
    
    .innerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom right, rgba(17, 0, 112, 0.45) ,
        rgba(16, 11, 27, 0.5) , rgba(255, 0, 0, 0.422) );
        // background-color: rgba(14, 11, 19, 0.85); 
        
        width: 100%;
        height: 100%;
        

        h1{
            margin: 0%;
            padding: 0%;
            line-height: 0%;
            position: absolute;
            
            font-size: 5rem;
            color: white;
            text-shadow: 10px 10px 10px  black, 9px 9px 10px black;   
            font: bold;
            animation: fadeOut 6s cubic-bezier(1, 0.88, 0.57, 1.63);
            z-index: 10;
            .span{
                position: absolute;
                margin: auto;
                display:inline-block;
                
                &:nth-child(1){
                     /* W3C */
                    right: 19.9rem;
                }
                &:nth-child(2){
                    right: 16.3rem;
                    color: rgb(84, 92, 76);
                }
                &:nth-child(3){
                    right: 13rem;
                }
                &:nth-child(4){
                    right: 10rem;
                }
                &:nth-child(5){
                    right: 6.5rem;
                }
                &:nth-child(6){
                    right: 0.2rem;
                }
                &:nth-child(7){
                    color: white;
                }
                &:nth-child(8){
                    left: 2.2rem;
                    color: rgb(84, 92, 76);
                }
                &:nth-child(9){
                    left: 5.6rem;
                }
                &:nth-child(10){
                    left: 9rem;
                }
                &:nth-child(11){
                    left: 13rem;
                }
                &:nth-child(12){
                    left: 16.5rem;
                }
                &:nth-child(13){
                    left: 19.4rem;;
                }
                
                
                &:hover{
                    color: rgb(84, 92, 76);
                    z-index: 100;
                    
                    animation: bouncy 300ms ease-in-out ;
                }
            }
        }
    
    }
    .nextpage{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 90%;
        left: 46%;
        background-image: url("/images/rocket.png") ;
        background-size: cover; 
        transform: rotate(-46deg);
        filter: invert(100%);
        opacity: 0.6;
        animation: r 10s infinite ease-in-out;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
        
    }
}
