.secondContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 1000;
    position: relative;
    top: 100%;
    background-image: linear-gradient(to right , rgb(255, 255, 255),
     aqua ,rgb(85, 143, 250));
     
    h1{
        color: black;
    }
    
    // animation: fadeout 2s;
    
    .tofirst{
        position: relative;
        
        width: 30px;
        height: 30px;
        content: " ";
        background-color: rgb(85, 12, 12);

    }

    
    
}
